<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinyougou.mapper.BrandMapper">
	<!-- 多条件查询品牌 -->
	<select id="findAll" resultType="Brand">
		select * FROM tb_brand
		<where>
			<!-- 品牌名称 -->
			<if test="name != null and name != ''">
				name like CONCAT('%',#{name},'%')
			</if>
			<!-- 品牌首字母 -->
			<if test="firstChar != null and firstChar != ''">
				AND first_char = #{firstChar}
			</if>
		</where>
		order by id asc
	</select>
</mapper>