
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实现全选复选框问题</title>
    <script src="/js/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/angularjs/angular.min.js"></script>
    <script src="/js/controller/test.js"></script>
</head>
<body ng-app="myApp">
<div ng-controller="mainCtrl">
    <label>全选<input type="checkbox" ng-model="selectAll" ng-click="all(selectAll)"></label><br/>
    <div ng-repeat="person in persons">
        <label>{{person.name}}:<input type="checkbox" ng-checked="selectAll" ng-model="person.state"> </label><br/>
    </div>

    <div>selectAll : {{selectAll}}</div>
    <div ng-repeat="person in persons">
        {{person.name}} : {{person.state}}
    </div>
</div>

<br>分割线++++++++++++++++++++++++++++</br>
<div ng-controller="myController">
    <label for="flag">全选
        <input id="flag" type="checkbox" ng-model="select_all" ng-change="selectAll()">
    </label>
    <ul>
        <li ng-repeat="i in list">
            <input type="checkbox" ng-model="i.checked" ng-change="selectOne()">
            <span>{{id}}</span>
        </li>
    </ul>
</div>

<script src="checkbox.js"></script>
</body>
